Importing Libraries

In [23]:
import pandas as pd
from datetime import datetime

Loading Data

In [24]:
def load_data(file_path):
    """Load data from an Excel file and drop duplicate values."""
    df = pd.read_excel(file_path)
    df.drop_duplicates(subset=['Email'], keep='first', inplace=True)
    return df
file_path = 'Final Lead Data.xlsx'
df = load_data(file_path)

Data Inspection

In [25]:
def inspect_data(df):
    """Inspect data structure and summary statistics."""
    print("Data Information:")
    print(df.info())
    print("\nData Summary Statistics:")
    print(df.describe())
    print("\nFirst 5 Rows of Data:")
    print(df.head())

inspect_data(df)

Data Information:
<class 'pandas.core.frame.DataFrame'>
Index: 2808 entries, 0 to 5260
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      2808 non-null   int64
 1   First Name                                              2808 non-null   object
 2   Email                                                   2808 non-null   object
 3   Gender                                                  115 non-null    object
 4   City                                                    54 non-null     object
 5   Created                                                 2808 non-null   object
 6   Position                                                1 non-null      object
 7   New College Name                                        831 non-null    object
 8   Colleges                                                662 non-null    object
 9   Academic Year                                           1083 non-null   float64
 10  Branch/ Specialisation                                  1085 non-null   object
 11  Other Branch                                            306 non-null    object
 12  What is your current academic year?                     54 non-null     object
 13  Company Name/ College Name                              140 non-null    object
 14  Would you like to know more about us and our programs?  2808 non-null   object
 15  Are you interested in knowing more about our events?    2808 non-null   object
 16  Have you recommended Cloud Counselage to anyone?        2808 non-null   object
 17  How did you come to know about this event?              101 non-null    object
dtypes: float64(1), int64(1), object(16)
memory usage: 416.8+ KB
None

Data Summary Statistics:
                 ID  Academic Year
count   2808.000000    1083.000000
mean   45108.948006       2.810711
std    14440.621811       0.814719
min    25910.000000       1.000000
25%    33378.000000       2.000000
50%    39501.000000       3.000000
75%    64193.000000       3.000000
max    68112.000000       4.000000

First 5 Rows of Data:
      ID First Name              Email Gender City                 Created  \
0  68112     ANIKET     aniket@xyz.com    NaN  NaN  04/27/2022 01:41:38 pm
1  68110  Dhanshree  dhanshree@xyz.com    NaN  NaN  04/22/2022 04:08:38 pm
2  68108     Dhiraj     dhiraj@xyz.com    NaN  NaN  04/16/2022 10:31:59 pm
3  68106      Pooja      pooja@xyz.com    NaN  NaN  04/13/2022 10:05:15 pm
4  68090     Aayush     aayush@xyz.com    NaN  NaN  03/26/2022 07:02:48 pm

  Position         New College Name Colleges  Academic Year  \
0      NaN                      NaN      NaN            NaN
1      NaN  Lords Universal College      NaN            NaN
2      NaN                      NaN      NaN            NaN
3      NaN                      NaN      NaN            NaN
4      NaN        B.k Birla college      NaN            NaN

  Branch/ Specialisation Other Branch What is your current academic year?  \
0                    NaN          NaN                                 NaN
1                    NaN          NaN                                 NaN
2                    NaN          NaN                                 NaN
3                    NaN          NaN                                 NaN
4                    NaN          NaN                                 NaN

  Company Name/ College Name  \
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

  Would you like to know more about us and our programs?  \
0                                                yes
1                                                yes
2                                                yes
3                                                yes
4                                                yes

  Are you interested in knowing more about our events?  \
0                                                yes
1                                                yes
2                                                yes
3                                                yes
4                                                yes

  Have you recommended Cloud Counselage to anyone?  \
0                                               no
1                                               no
2                                               no
3                                               no
4                                               no

  How did you come to know about this event?
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

Feature Engineering

In [26]:
def extract_year(created_str):
    created_date = datetime.strptime(created_str, '%m/%d/%Y %I:%M:%S %p')
    return created_date.year

# Apply the function to the 'Created' column and create a new column 'Year'
df['Year'] = df['Created'].apply(extract_year)

Calculate Predicted Graduation Year

In [27]:
def calculate_graduation_year(row):
    """Calculate the predicted graduation year based on academic year."""
    academic_year = row['Academic Year']
    current_year = row['Year']
    if academic_year == 1:
        predicted_year = current_year + 3
        context = 'Predicted based on standard 4-year course.'
    elif academic_year == 2:
        predicted_year = current_year + 2
        context = 'Predicted based on standard 3-year course.'
    elif academic_year == 3:
        if current_year == datetime.now().year:
            predicted_year = current_year + 1
            context = 'Predicted based on current academic year and current date.'
        else:
            predicted_year = current_year + 2
            context = 'Predicted based on standard 4-year course.'
    elif academic_year == 4:
        if current_year == datetime.now().year:
            predicted_year = current_year
            context = 'Predicted based on current academic year and current date.'
        else:
            predicted_year = current_year + 1
            context = 'Predicted based on standard 4-year course.'
    else:
        predicted_year = pd.NA
        context = 'Unable to predict graduation year due to invalid academic year.'
    return predicted_year, context

# Apply the function to create new columns 'Predicted Graduation Year' and 'Context'
df['Predicted Graduation Year'], df['Context'] = zip(*df.apply(calculate_graduation_year, axis=1))

Save Results

In [29]:
output = df[['ID', 'First Name', 'Email', 'New College Name', 'Predicted Graduation Year', 'Context']]
output_file_path = "Predicted_Graduation_with_Context.xlsx"
output.to_excel(output_file_path, index=False, header=True)